{% extends '/frontoffice/basefront.html.twig' %}

{% block title %}Credit index{% endblock %}
{% block subtitle %}Nouveau Credit{% endblock %}

{% block content %}
    <<section class="pt-125 pb-140 bg_white">
    <div class="container">
        <div class="row ">
            <div class="section-title">
        <h2 class="heading-decorated">Nouveau Credit</h2>

    {{ include('credit/_form.html.twig') }}

    <a style="max-width: 300px;" class="btn btn-block btn-outline-info"  href="{{ path('app_credit_index') }}">Back to list</a>

    </div>
        </div>
    </div>
</section>

{% endblock %}
